<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pizza of pizzas" [class.oferta]="pizza.oferta">
            <td>
              <img [src]="pizza.imagen" [alt]="pizza.nombre" class="pizza-image">
            </td>
            <td>{{pizza.nombre}}</td>
            <td [class.precio]="pizza.oferta">${{pizza.precio}}</td>
            <td>{{pizza.tipo}}</td>
            <td>
              <button class="btn btn-primary">Agregar al carrito</button>
            </td>
        </tr>
    </tbody>
</table>